h2 {
	background:linear-gradient(to right, #f3f3f3, #ffffff);	/* グラデーションを指定 */
	border-left:thick solid #000;
	padding:0.3rem 0.5rem;
}
h2:first-letter {	/* 最初の文字だけ加工 */
	font-size:2.4rem;
	color:#325A8C;
}

/*--------------------------------------
	ヨメレバ・カエレバここから
--------------------------------------*/

/* カエレバパーツ全体のデザインをカスタマイズ */
.kaerebalink-box,
.booklink-box
{
	width: 100%;
	margin-bottom: 1rem; /* 余白調整 */
	padding: 1rem;
	background: #ffffff; /* 背景白に */
	border: double 3px #d0d0d0; /* 外線を二重線に */
	box-sizing: border-box;
	border-radius: 5px; /* 角を丸く*/
	-webkit-border-radius: 5px;
}

/* 画像のデザインをカスタマイズ */
.kaerebalink-image,
.booklink-image
{
	float: left; /* 画像を左寄せに */
	margin: 0; /* 余白なし */
	text-align: center;
}
.kaerebalink-image img,
.booklink-image img
{
	max-width: 128px; /* 最大幅128pxに */
	height: auto; /* 高さ自由 */
}

/* 商品名等をカスタマイズ */
.kaerebalink-info,
.booklink-info
{
	margin-left: 140px; /* 文章は右寄せ */
	line-height: 1.6rem; /* 行高さの幅を調整 */
}
.kaerebalink-name,
.booklink-name
{
	font-weight: bold; /* 商品名太く */
	margin: 0; /* 余白調整 */
}
.kaerebalink-name a,
.booklink-name a
{
	color: #333333; /* 商品名色指定 */
}
.kaerebalink-name p,
.booklink-name p
{
	margin-bottom: 0; /* 余白調整 */
}
.kaerebalink-powered-date,
.booklink-powered-date
{
	font-size: 0.75rem; /* psted with ～ の大きさ指定 */
	font-weight: normal; /* 文字の太さを標準に */
	text-align: right; /* 右寄せ */
}
.kaerebalink-detail,
.booklink-detail
{
	font-size: 0.875rem; /* メーカー・作者の文字の大きさ指定 */
	margin-bottom: 0.5em; /* 余白調整 */
}

/* ボタンのカスタマイズ */
.kaerebalink-link1,
.booklink-link2
{
	width:100%;
}
.kaerebalink-link1 div,
.booklink-link2 div
{
	float: left; /* ボタンを横並びに */
	width: 49%; /* ボタンの幅調整（2列にするので間の余白を考え49%を指定） */
	margin-bottom:0.2rem; /* 余白調整 */
	font-size: 0.875rem; /* 文字の大きさ */
	font-weight: bold; /* 文字を太く */
	text-align: center; /* 文字を中央寄せ */
	box-sizing: border-box;
}
.kaerebalink-link1 div:nth-child(even),
.booklink-link2 div:nth-child(even)
{
	margin-left: 1%; /* 左右ボタン間の余白を調整 */
}
.kaerebalink-link1 div a,
.booklink-link2 div a
{
	display:block;
	padding:3px 0; /* ボタンの上下幅指定 */
	margin-bottom:8px; /* 上下ボタン間の幅指定 */
	text-decoration:none;
	border-radius: 4px; /* 丸み調整 */
	box-shadow: 0px 2px 4px 0 rgba(0,0,0,.26); /* シャドー作成 */
}

/* ボタンにカーソルを当てた時の動きをカスタマイズ */
.kaerebalink-link1 div a:hover,
.booklink-link2 div a:hover
{
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	color: #ffffff;
}

/* カエレバ・ヨメレバ共通 */
.shoplinkamazon a,
.shoplinkrakuten a,
.shoplinkseven a,
/* カエレバ */
.shoplinkyahoo a,
.shoplinkbellemaison a,
.shoplinkcecile a,
.shoplinkkakakucom a,
/* ヨメレバ */
.shoplinkkindle a,
.shoplinkrakukobo a,
.shoplinkbk1 a,
.shoplinkehon a,
.shoplinkkino a,
.shoplinktoshokan a
{
	display:block;
	text-decoration:none;
}

/* カエレバ・ヨメレバ共通 色の指定 */
.shoplinkamazon a { color:#ffffff; background:#ff9901; }
.shoplinkrakuten a { color:#ffffff; background:#c20004; }
.shoplinkseven a { color:#ffffff; background:#225496; }
/* カエレバ  色の指定 */
.shoplinkyahoo a { color:#ffffff; background:#ff0033; }
.shoplinkbellemaison a { color:#ffffff; background:#84be24 ; }
.shoplinkcecile a { color:#ffffff; background:#8d124b; }
.shoplinkkakakucom a { color:#ffffff; background:#314995; }
/* ヨメレバ 色の指定 */
.shoplinkkindle a { color:#ffffff; background:#007dcd; }
.shoplinkrakukobo a { color:#ffffff; background:#d50000; }
.shoplinkbk1 a { color:#ffffff; background:#0085cd; }
.shoplinkehon a { color:#ffffff; background:#2a2c6d; }
.shoplinkkino a { color:#ffffff; background:#003e92; }
.shoplinktoshokan a { color:#ffffff; background:#333333; }
.booklink-footer
{
	clear:both;
}

/* もしもアフィリエイトの場合不要な画像を削除 */
.kaerebalink-image img[src^="//i.moshimo.com/af/i/impression"],
.booklink-image img[src^="//i.moshimo.com/af/i/impression"],
.shoplinkamazon img,
.shoplinkrakuten img,
.shoplinkseven img,
.shoplinkyahoo img,
.shoplinkbellemaison img,
.shoplinkcecile img,
.shoplinkkakakucom img,
.shoplinkkindle img,
.shoplinkrakukobo img,
.shoplinkbk1 img,
.shoplinkehon img,
.shoplinkkino img,
.shoplinktoshokan img
{
	display:none;
}

/* スマホ表示の設定 */
@media only screen and (max-width:460px){
	
	/* 画像の設定 */
	.kaerebalink-image,
	.booklink-image
	{
		float:none; /* 画像を中央寄せに */
		margin:0;
		text-align:center;
	}
	/* 画像サイズを最大180pxに */
	.kaerebalink-image img,
	.booklink-image img
	{
		max-width:180px;
		height:auto;
	}
	 /* 商品名等をカスタマイズ */
	.kaerebalink-info,
	.booklink-info
	{
		margin: 0; /* 余白調整 */
	}
	/* ボタンのカスタマイズ */
	.kaerebalink-link1 div,
	.booklink-link2 div
	{
		float: none;
		width: 100%;
	}
	.kaerebalink-link1 div:nth-child(even),
	.booklink-link2 div:nth-child(even)
	{
		margin-left: 0; /* 余白を調整（ボタン縦並びにするため） */
	}
}

/*--------------------------------------
	ヨメレバ・カエレバここまで
--------------------------------------*/
